* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    user-select: none;
}

:root{
    --bgcolor: #60cfff;
    --boxcolor: #34495e;
    --boxborder: #2c3e50;
    --textcolor: #ffffff;
    --headercolor: #000000;
}

a{
    text-decoration: none;
}

body {
    background-color: var(--bgcolor);
}

header {
    background-color: var(--headercolor);
    color: var(--bgcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 1rem;
    font-size: 4rem;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .control-button {
    width: 150px;
    height: 50px;
    background-color: var(--bgcolor);
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: 0.5s ease;
}

.control-button:hover {
    box-shadow: 4px 2px 0 var(--textcolor);
    transform: translateY(-.2rem);
}

.control-button:active {
    transform: translateY(.2rem);
    box-shadow: none;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 5rem;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.boxes {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boxcolor);
    color: var(--textcolor);
}

.winner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.winner h1{
    padding-bottom: 1rem;
}

#newgame {
    width: 150px;
    height: 50px;
    background-color: var(--headercolor);
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: 0.5s ease;
    color: var(--textcolor);
}

#newgame:hover{
    transform: translateY(-.2rem);
}

#newgame:active{
    transform: translateY(.2rem);
}

.hide{
    display: none;
}

@media only screen and (max-width: 800px) {
    .container{
        width: 400px;
        height: 400px;
    }
    header {
        height: 200px;
        display: flex;
        flex-direction: column;
    }
    header h1{
        font-size: 3rem;
    }
    .winner h1{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 550px){
    .controls{
        width: 300px;
        height: 300px;
    }
    .control-button{
        width: 150px;
    }
    header h1{
        font-size: 3rem;
    }
    .winner h1{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 545px){
    header h1{
        font-size: 2.5rem;
    }
    .controls{
        width: 350px;
    }
    .winner h1{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 320px;
        height: 320px;
    }
    .winner h1{
        scale: 0.7;
    }
}